.captcha {
    display: grid;
    grid-template-columns: 2fr calc(1fr - .5rem);
    align-content: center;
    gap: .5rem;
    height: fit-content;
}

.captcha-button {
    width: 230px;
    max-width: 100%;
    height: fit-content;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 70%;

    img {
        height: auto;
        min-height: 1rem;
        width: 100%;
    }
}

.captcha-button:hover {
    opacity: 87%;
}

.faq-answer {
    display: none; /* Importante para inicialización */
    overflow: hidden;
}

.faq-answer.show {
    max-height: 1000px; /* Ajusta este valor según sea necesario */
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
    opacity: 1;
}


.formulario-base {
    display: none;
    transition: all 0.3s ease;
}

.formulario-base.show {
    opacity: 1;
    transform: translateY(0);
}