.wp-list-table .column-id,
.wp-list-table .column-prioridad {
    width: min-content;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.title-container {
    display: flex;
    gap: 1rem;
}

.nuevo {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.shortcode {
    font-size: 1rem;
    line-height: 1.5rem;
}

.boton-justify {
    display: flex;
    justify-content: space-between;
}

.editable-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 50px;
    align-items: start; 
    width: 100%; 
}

.form-group {
    display: flex;
    flex-direction: column; 
}

.llaves {
    color: red;
    font-size: 1rem;
}